.default-Page{
    margin-left: 200px;
    margin-top: 70px;
}
.date-Page{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 10px 0;
}
.welcome-Page{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    padding: 10px 0;
}
.weekly-Status{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px 0;

}
.weekly-Display{
    width: 170px;
    padding: 10px 0;
    background-color: lightgray;
    border-radius: 13px;
    /* cursor: pointer; */
}
#status-Icon{
    padding: 0 5px;
}
.create-Project-Container{
    cursor: pointer;
}
.create-Project-Container:hover{
    background-color: lightgrey;
}
.create-Project-Container:hover .create-Project{
    border: 1px black dotted;
    color: black;
}
.create-Project{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    border: 1px lightgray dotted;
    cursor: pointer;
    text-align: center;
    font-size: 40px;
    color: grey;
    display: inline-block;
    margin: 20px 25px;
    /* display: flexbox;
    justify-content: center;
    align-items: center; */
}
.project-Specific:hover .create-Project{
    border: 1px black dotted;
    color: black;
}
.create-Project-Name{
    display: inline-block;
    /* position: absolute;
    top: 35px; */
}
.project-Specific{
    cursor: pointer;
    position: relative;
}
.project-Specific:hover{
    background-color: lightgray;
}
.project-Home-Header{
    padding: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.create-Project-T{
    display: inline-block;
}
.project-Home-Page{
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 330px;
    height: 400px;
    overflow-y: scroll;
    /* display: inline-block; */
}
.project-Tasks{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;

}
.project-Home-Page:hover{
    border: 1px solid darkgrey;
}

.task-Home-Page{
    border-radius: 15px;
    border: 1px solid lightgray;
    width: 380px;
    height: 400px;
    overflow-y: scroll;
    /* display: inline-block; */
}
.task-Home-Page:hover{
    border: 1px solid darkgrey;
}
.task-Home-Header{
    padding: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.task-Home-Bar{
    display: flex;
    border-bottom: solid 1px lightgrey;
}

.task-Home-Bar > div{
    padding: 7px 13px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-header{
    padding: 15px 0 0 25px;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}
.upcoming-Tasks{
    display: flex;
    justify-content: space-around;
}
.upcoming-Tasks > div {
    margin: 5px 0;

    width: 100px;
}
.upcoming-Tasks:hover{
    cursor: pointer;
    background-color: lightgray;
}

.past-Tasks{
    display: flex;
    justify-content: space-around;
}
.past-Tasks > div {
    margin: 5px 0;
}
.past-Tasks:hover{
    background-color: lightgray;
    cursor: pointer;
}
.upcoming-Tasks-Bar{
    border-bottom: 3px solid black;
}

.overdue-Tasks-Bar{
    border-bottom: 3px solid black;
}
.task-header-Names{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}
.task-header-Names  div{
    width: 100px;
    /* padding-left: 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.no-upcoming-Tasks{
    text-align: center;
    padding: 10px 0 0 0px;
    font-size: 18px;
}
.no-past-Tasks{
    text-align: center;
    padding: 10px 0 0 0px;
    font-size: 18px;
}
.no-project{
    text-align: center;
    padding: 10px 0 0 0px;
    font-size: 25px;
    color:darkblue;
}
