nav.noUser-Nav-Bar > .nav-Bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noUser-Nav-Bar{
    background-color:rgb(75, 74, 74);
}
.nav-Bar-container{
    height: 70px;
}
.Nav-Bar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(48, 44, 44);
    overflow-x: hidden;
    padding-top: 20px;
    /* margin-top: 55px; */
}
img.logo{
    display: block;
    border-radius: 20px;
    /* margin-bottom: 20px; */
    margin-left: 10px;
}
/* .home-Button, .tasks-Button{
    padding-left: 5px;
} */
.home-page-act-Button{
    display: inline-block;
    background-color: rgb(112, 107, 107);
    width: 200px;
}
.my-tasks-act-Button{
    display: inline-block;
    background-color: rgb(112, 107, 107);
    width: 200px;
}
.login-Button, .signup-Button{
    margin: 10px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
}
.login-Button:hover, .signup-Button:hover{
    background-color: dimgray;
    color: cornsilk;
}
.nav-Bar-container div > .home-Button{
    /* margin: 0 15px; */
    text-decoration: none;
}
.home-nav-Page:hover{
    background-color: rgba(168, 167, 167, 0.33);
}
.home-nav-Page{
    /* padding: 3px 20px; */
    margin-top: 20px;
    width: 200px;
}
.home-Button{
    padding: 3px 20px ;
    margin: 5px 0;
}

#my-tasks-Button{
    margin: 5px 0px;
    padding: 3px 20px;
    text-decoration: none;
}
.my-tasks-outer{
    /* padding: 5px 0; */
    width: 200px;
}
.my-tasks-outer:hover{
    background-color: rgba(168, 167, 167, 0.33);;
}
/* #my-tasks-Button:hover{
    background-color: rgba(168, 167, 167, 0.33);;
} */
/* .my-tasks-Button{
    background-color:lightgrey;
} */

.all-projects-Profile > h3{
    margin-left: 15px;
}
.all-projects-Profile > a > div{
    padding: 5px 0 5px 20px;
}
.all-projects-Profile > a{
    text-decoration: none;
}
.home-nav-Page > a, .my-tasks-outer > a{
    color:rgb(229, 225, 225);
}
.nav-Bar-Header{
    display: flex;
    justify-content: space-between;
}
.nav-Bar-Header > button {
    margin: 25px 5px;
    padding: 5px;
}

/* .nav-Bar-container{
    padding-left: 5px;
} */
/* .Nav-Bar a{
    padding-left: 5px;
} */
/* .Nav-Bar li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  } */
