.side-Bar{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgb(48, 44, 44);
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 55px;
}
.home-page-act-Button{
    /* display: inline-block; */
    background-color: rgba(189, 177, 177, 0.467);
    /* width: 200px; */
}
.my-tasks-act-Button{
    /* display: inline-block; */
    background-color: rgba(189, 177, 177, 0.467);
    /* width: 200px; */
}
.home-nav-Page:hover{
    background-color: rgba(168, 167, 167, 0.33);
}
.home-nav-Page{
    margin-top: 25px;
    width: 200px;
}
.home-Button{
    display: inline-block;
    padding: 5px 20px ;
    margin: 0px 0;
    width: 200px;
    text-decoration: none;
}
#my-tasks-Button{
    margin: 0px 0px;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    width: 200px;
}
.my-tasks-outer{
    /* padding: 5px 0; */
    width: 200px;
}
.my-tasks-outer:hover{
    background-color: rgba(168, 167, 167, 0.33);;
}
.all-projects-Profile > h3{
    margin-left: 15px;
}
.all-projects-Profile > a > div{
    padding: 5px 0 5px 20px;
}
.all-projects-Profile > a{
    text-decoration: none;
}
.home-nav-Page > a, .my-tasks-outer > a{
    color:rgb(229, 225, 225);
}
