.top-Bar{
    background-color: rgb(71, 68, 68);
    height: 75px;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
