/* .project-detail:focus{
    background-color:azure;
} */
.project-detail .project-detail-Name{
    /* text-decoration: none; */
    /* font-size: 5px; */
    background-color: white;
    width: 200px;
    padding: 5px 0 5px 20px;
}
.project-detail-Name:hover{
    background-color: lightgrey;
    /* color:darkslateblue; */
}
.project-detail-nav-Bar{
    color:darkblue;
}
.user-Name{
    color: azure;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .not-clicked{
    text-decoration: none;
} */
