/* .project-detail:focus{
    background-color:azure;
} */
.project-detail .project-detail-Name{
    /* text-decoration: none; */
    /* font-size: 5px; */
    background-color: rgba(189, 177, 177, 0.467);
    width: 200px;
    padding: 5px 0 5px 20px;
}
.project-detail-Name:hover{
    background-color: rgba(168, 167, 167, 0.33);
    /* color:darkslateblue; */
}
.project-detail-nav-Bar{
    color:rgb(216, 210, 210);
}
.user-Name{
    color: azure;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0 0 0;
}
/* .not-clicked{
    text-decoration: none;
} */
