/* .project-detail:focus{
    background-color:azure;
} */
.project-detail .project-detail-Name{
    text-decoration: none;
    /* font-size: 5px; */
    background-color: white;
    width: 200px;
    padding: 5px 0 5px 20px;
}
.project-detail-Name:hover{
    background-color: lightgrey;
}
/* .not-clicked{
    text-decoration: none;
} */
