.delete-Project-Container{
    height: 250px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.958);
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.delete-Message{
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid lightgray;
    font-size: 18px;
}
.delete-project-Intro{
    padding: 15px 10px 5px 10px;
}
.delete-Project-Container > button{
    margin: 10px 0 0 10px;
    border-radius: 5px;
}
.delete-Project-Container li {
    margin: 5px 0;
}
.delete-Project-Container > button:hover{
    background-color: slategrey;
    color: floralwhite;
    cursor: pointer;
}
