.edit-Project-Form > label{
    display: block;
    padding: 5px 0;
}
.edit-Project-Form{
    width: 300px;
    height: 200px;
    padding-left: 10px;
}
button{
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: darkgrey;
    color:floralwhite;
}
.detail-Text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    /* padding: 5px 0px 10px 10px; */


}
.detail-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0px 10px 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}
#close-Icon{
    padding-right: 10px;
    cursor: pointer;
}
