.edit-Project-Form > label{
    display: block;
    padding: 5px 7px;
}
.edit-project-container{
    background-color: rgb(242, 242, 242);
    border-radius: 15px;
}
.errors-edit-Project{
    color: red;
    margin: 12px;
    height: 60px;
}
.edit-Project-Form{
    width: 300px;
    height: 340px;
    padding-left: 10px;
}
button{
    border-radius: 7px;
    cursor: pointer;
    background-color:ivory;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}
button:hover{
    background-color: darkgrey;
    color:floralwhite;
}
.detail-Text{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    padding: 10px 0px 5px 7px;


}
.detail-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px 10px 10px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 15px;
}
.startdate-Outer > div{
    display: inline-block;
    color: rgba(162, 159, 159, 0.902);
    font-size: 14px;
    padding: 0 5px;
}
.duedate-Outer > div{
    display: inline-block;
    color: rgba(162, 159, 159, 0.902);
    font-size: 14px;
    padding: 0 5px;
}
#close-Icon{
    padding-right: 10px;
    cursor: pointer;
}
