.home-Page{
    position: relative;
}
/* .home-Page > img{
    width: max-content;
    height: max-content;
} */
.starter-Message{
    position: absolute;
    /* background-color: white; */
    top: 100px;
    left: 50px;
    font-size: 30px;
    width: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.project-Starter{
    position: absolute;
    text-align: center;
    top: 350px;
    left: 70px;
    padding: 5px 0 0 0;
    font-size: 20px;
    box-sizing: border-box;
    width: 100px;
    height: 40px;
    background-color: rgb(57, 54, 54);
    color: ghostwhite;
    border-radius: 5px;
    cursor: pointer;
}
