.project-Name{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight:520; */
    display: inline-block;
    padding: 20px 10px 15px 20px;
}
.edit-delete-Project > i{
    cursor: pointer;
    padding: 7px;
    margin: 8px;
}
.edit-delete-Project > i:hover{
    background-color:lightgray;

}
.edit-delete-Project{
    display: inline-block;
    position: relative;
}
.edit-Icon{
    display: none;
    position: absolute;
    left: 25px;
    color: red;
    /* width: 70px;
    height: 25px; */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.134);
    z-index: 1;
    border-radius: 2px;
    border: 0.5px solid rgb(233, 230, 230);
}
/* .edit-Project> div {
    width: 100px;
    height: 20px;
    padding: 8px 0;
    padding-left: 5px;
} */
.edit-Icon > div:hover{
    /* width: 100%; */
    background-color:lightgrey;
    color:firebrick;
}
.edit-Project, .delete-Project{
    display: flex;
    width: 100px;
    height: 20px;
    padding: 8px 0;
    padding-left: 5px;
}
.edit-Project > div, .delete-Project>div{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 5px;
}
.edit-delete-Project:hover .edit-Icon{
    display: block;
    cursor: pointer;
    /* position: absolute;
    left: 25px; */
    /* color: red; */
}
.project-Detail{
    margin-left: 200px;
    margin-top: 70px;
}
.section-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 230, 230);
    margin: 0 0 0 15px;
}
.done-List-Bar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 230, 230);
    margin: 0 0 0 15px;
}
div.task-Name{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    width: 250px;
}
/* div.task-Name:hover{
    background-color: lightgrey;
} */
div.task-Assignee{
    font-weight:bold;
    width: 150px;
}

div.task-Deadline{
    /* display: inline-block; */
    font-weight:bold;
    width: 150px;
}
div.task-Status{
    /* display: inline-block; */
    font-weight:bold;
    width: 150px;
    /* border: 1px solid;
    border-top-color: lightgrey;
    border-right-color: lightgrey;
    border-bottom-color: lightgrey;
    border-left-color: transparent; */
}
div.edit-Bar{
    width: 150px;
}
/* .todo-List > p, .done-List > p{
    display: inline-block;
} */
.task-name-outer{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.task-Name{
    margin-left: 5px;
}
.section-selector > i{
    padding: 2px 5px;
    display: none;
    /* margin: 0 30px 0 0; */
}
.add-Task{
    background-color: white;
    border-radius: 5px;
    margin: 5px 0 0 20px;
}

.task-name-outer:hover > .section-selector > i{
    display: inline;
}
.section-Bar{
    display: flex;
    align-items: center;
}
.section-Bar  i{
    margin:  3px;
    padding: 2px 5px;
    cursor: pointer;
}
.section-Bar  i:hover{
    background-color: rgb(213, 199, 199);
    border-radius: 3px;
}
.section-selector{
    position: relative;
    margin: 0 30px 0 0;
}
.section-selector > i:hover{
    background-color: rgb(241, 239, 239);
}
.section-dropdown{
    display: none;
}
.section-selector:hover > .section-dropdown{
    display: block;
    position: absolute;
    width: 150px;
    padding: 5px 0 0 0;
    border: 0.5px solid rgb(227, 215, 215);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.section-tag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color:rgba(52, 50, 50, 0.614);
    padding: 0 0 0 15px;
    margin: 0 0 10px 0;
    font-style: italic;
}
.section-name{
    cursor: pointer;
    padding: 5px 10px;
    border-top: 0.7px dotted black;
    /* border-bottom: 0.7px dotted black; */
}
.section-name:hover{
    background-color: rgb(209, 208, 208);
}
/* .section-selector:hover > .section-tag{
    display: block;
    position: absolute;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
    width: 100px;
} */
/* .section-selector:hover .section-dropdown{
    display: block;
    position: absolute;
    width: 120px;
    padding: 5px 0 0 0;
    border: 0.5px solid rgb(227, 215, 215);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    z-index: 3;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
} */
p.task-Assignee{
    width: 150px;
}
p.task-Deadline{
    width: 150px;
}
.dropdown{
    width: 150px;
    transition-timing-function: ease-in;
}
.dropdown > p{
    border: none;
    cursor: pointer;
    transition: 0.6s ease-in;
    /* margin-bottom: 0px; */
    /* display: inline-block; */
    /* margin-right: -10px;
    box-sizing: border-box; */
}
.Medium-priority{
    padding: 2px 8px;
    border-radius: 10px;
    background-color:rgb(222, 146, 5);
    width: fit-content;
}
.High-priority{
    padding: 2px 8px;
    border-radius: 10px;
    background-color:rgb(212, 115, 209);
    width: fit-content;
}
.Low-priority{
    padding: 2px 8px;
    border-radius: 10px;
    background-color: rgb(23, 227, 227);
    width: fit-content;
}
.task-List p.task-Status{
    color: red;
}
.done-List p.task-Status{
    color: green;
}
.task-List i, .done-List i {
    cursor: pointer;
}
.done-List{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px rgb(233, 230, 230);
    margin: 0 0 0 20px;
}
.task-List{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(233, 230, 230);
    margin: 0 0 0 20px;
}
.edit-button{
    display: inline-block;
    position: relative;
    width: 150px;
}

.edit-Menu{
    position: absolute;
    left: 20px;
    width: 100px;
    background-color: #f9f9f9;
    border: 0.5px solid rgb(227, 215, 215);
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.edit-Task, .delete-Task{
    display: flex;
    color: red;
    padding: 5px;
    cursor: pointer;
}
.edit-Task > div, .delete-Task > div{
    padding: 0 0 0 5px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edit-Menu > div:hover{
    background-color: lightgrey;
    color: maroon;
}
.edit-button > i {
    /* display: inline-block; */
    margin: 16px 70px 0 10px;
}
#priority-setting{
    display: none;
}

/* .todo-List{
    padding-bottom: 10px;
} */
.dropdown{
    /* display: inline-block; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.dropdown:hover > #priority-setting{
    display: inline;
    margin: 0 30px 0 0;
}
.dropdown-Content{
    display: none;
    /* padding-top: -10px;
    margin-top: -10px; */
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-Content > div {
    position: relative;
    padding: 7px 0 7px 15px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.dropdown-Content > div:hover {
    background-color:lightgray;
    /* padding: 5px 0; */
}
.low-priority > div{
    width: fit-content;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: rgb(23, 227, 227);
}
.medium-priority > div{
    width: fit-content;
    padding: 2px 8px;
    border-radius: 10px;
    background-color:rgb(222, 146, 5);
}
.high-priority > div{
    width: fit-content;
    padding: 2px 8px;
    border-radius: 10px;
    background-color:rgb(212, 115, 209);
}

.dropdown:hover .dropdown-Content {
    display: block;
    border: 0.5px solid rgb(227, 215, 215);
    border-radius: 3px;
  }

/* .section-Bar > h2 > i {
    cursor: pointer;
    padding: 0 5px;
    margin: 0 0 0 3px;
} */

/* .section-Bar > h2 > i:hover{
    background-color: gainsboro;
} */
#done-Lists-Bar {
    cursor: pointer;
    padding: 0 5px;
    margin: 0 0 0 3px;
}
#done-Lists-Bar:hover{
    background-color: gainsboro;
}

.project-Deadline{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: red;

}
.project-Description{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: darkblue;
    margin-bottom: 15px;
    padding: 0 0 0 20px;
}
.add-section-button{
    padding: 5px 5px;
    width: fit-content;
    cursor: pointer;
    margin: 10px 0 20px 5px;
}
.no-Tasks{
    margin: 25px 0px 10px 20px;
    padding: 10px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.no-Section{
    /* position: absolute; */
    text-align: center;
    margin: 10px 0 0 30px;
    padding: 2px 0;
    background-color:bisque;
    color:darkslateblue;
    border: 0.5px rgba(80, 79, 79, 0.926) solid;
    width: 130px;
    border-radius: 5px;
}
.add-section-button:hover{
    border-radius: 2px;
    background-color: rgb(237, 232, 232);
}
