.Todo-list > li{
    display: flex;
}
.project-Name{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.project-Detail{
    /* display: inline; */
    margin-left: 200px;
}
div.task-Name{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold;
    display: inline-block;
    width: 250px;
}
.todo-List > p{
    display: inline-block;
}
p.task-Name{
    width: 250px;
}
p.task-Assignee{
    width: 100px;
}
p.task-Deadline{
    width: 150px;
}
p.task-Status{
    width: 100px;
}
div.task-Assignee{
    display: inline-block;
    font-weight:bold;
    width: 100px;
}
div.task-Deadline{
    display: inline-block;
    font-weight:bold;
    width: 150px;
}
div.task-Status{
    display: inline-block;
    font-weight:bold;
    width: 100px;
}
.todo-List > i {
    cursor: pointer;
}
.edit-Menu > i{
    cursor: pointer
}
