.delete-Section-Container{
    background-color:whitesmoke;
    border-radius: 13px;
    height: 200px;
    width: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.delete-Section-Container > ul, .delete-Section-Container > button, .delete-section-header{
    margin: 5px 0 10px 10px;
}
