.edit-section-outer{
    width: 270px;
    height: 230px;
    background-color: rgb(244, 244, 244);
    border-radius: 15px;
}
.edit-section-bar{
    padding: 15px 0 10px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    font-size: 20px;
    border-bottom: 1px rgb(199, 195, 195) solid;
}
.section-Intro{
    font-size: 13px;
    color:rgba(0, 0, 255, 0.737);
    padding: 0 0 15px 15px;
}
.edit-section-form{
    padding: 20px 0 0 20px;
}
.edit-section-form input{
    margin: 0 0 10px 0;
}
