.search-form{
    position: relative;
}
#search-icon{
    position: absolute;
    margin: 12px 12px;
}
.search-bar{
    height: 40px;
    border-radius: 20px;
    padding: 0 0px 0 35px;
    /* font-size: 15px; */
}
.search-container{
    position: relative;
}
.search-monitor{
    display: flex;
    margin: 3px 0;
    padding: 7px 15px;
}
.search-monitor > i{
    padding: 3px 5px
}
.search-monitor > div{
    margin: 0 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}
.search-monitor > div > div{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 550;
}
.results-container{
    position: absolute;
    z-index: 1;
    max-height: 300px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    padding: 3px 0;
    overflow: scroll;
    border-radius: 3px;
    border: 0.5px solid rgb(227, 215, 215);
}
.project-bar, .task-bar{
    margin: 10px 0 7px 15px;
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 153, 153);
}
.project-outer, .task-outer{
    border-bottom: 0.5px solid black;;
}
.project-outer:hover{
    background-color: rgb(230, 226, 226);
}
.task-outer:hover{
    background-color: rgb(230, 226, 226);
}
.project-search, .task-search{
    text-decoration: none;
}
.search-name{
    margin: 3px 10px;
}
.search-project, .search-deadline{
    margin: 3px 0 3px 25px;
}
.search-name{
    display: inline-block;
}
.project-result, .task-result{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 25px 0 15px;
    cursor: pointer;
}
.project-result{
    color: blue;
}
.task-result{
    color: dodgerblue;
}
