/* TODO Add site wide styles */
html, body{
    height: 100%;
    margin: 0;
}
.footer-container {
    display: flex;
    background-color:slategray;
}
#root{
    min-height: 100%;
    padding-bottom: 80px;
    box-sizing: border-box;
}
.footer-outer{
    position: relative;
    margin-top: -80px;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footer-col{
    margin-left: 250px;
}
.profile-container{
    display: flex;
    color: azure;
}
.github-Icon{
    padding: 0 1px;
}
.github-Icon:hover{
    background-color: lightgray;
}
.linkedIn-Icon{
    padding: 0 2px;
}
.linkedIn-Icon:hover{
    background-color: lightgray;
}
.footer-col > h4{
    color: azure;
}
.profile-Name{
    padding: 0 3px;
}
