.login-Container{
    position: relative;
    height: 500px;
    background-image: url('https://thumbs.dreamstime.com/z/to-do-list-white-paper-pencils-background-template-56711188.jpg');
}
.login-inner-Container{
    position: absolute;
    width: 300px;
    height: 250px;
    /* margin: 0 auto; */
    top: 40%;
    left: 30%;
    background-color:dimgray;
    border-radius: 15px;
}
.login-Form{
    padding: 10px 0 10px 15px;
}
.login-Form > div{
    margin: 3px 0;
}
.block{
    color:azure;
    text-align: center;
}
.demo-User-Container{
    padding: 0 15px;
    color: azure;
}

.errors-handler-Login{
    height: 50px;
    color: red;
}
