.login-Container{
    position: relative;
    height: 89vh;
}
.login-Container > img{
    height:100%;
    width: 100%;
}
.login-header > div{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: azure;
    padding: 7px 13px;
    border-bottom: 1px solid white;
}
.login-inner-Container{
    position: absolute;
    width: 300px;
    height: 270px;
    /* margin: 0 auto; */
    top: 30%;
    left: 30%;
    background-color:dimgray;
    border-radius: 15px;
}
.login-Form{
    padding: 10px 0 10px 15px;
}
.login-Form > div{
    margin: 3px 0;
}
.block{
    color:azure;
    text-align: center;
}
.demo-User-Container{
    padding: 0 0 10px 15px;
    color: azure;
}

.errors-handler-Login{
    height: 40px;
    color: red;
}
