.signUp-Container{
    position: relative;
    height: 500px;
}
.signUp-inner-Container{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20%;
    left: 25%;
    border-radius: 15px;
    background-color:cornflowerblue;
}
.errors-handle-Signup{
    height: 80px;
}
.signup-Form{
    padding: 5px 0 10px 15px;
}
