.signUp-Container{
    position: relative;
    height: 700px;
}
.signUp-Container > img{
    width: 100%;
    height: 100%;
}
.signUp-inner-Container{
    position: absolute;
    width: 300px;
    height: 330px;
    top: 30%;
    left: 30%;
    border-radius: 15px;
    background-color:dimgray;
}
.errors-handle-Signup{
    height: 70px;
    color:red;
}
.signup-Form{
    padding: 5px 0 10px 15px;
}
.signup-Form > div{
    padding: 3px 0;
}
.signUp-Header{
    padding: 10px 0 10px 15px;
    color: azure;
    font-size: 20px;
    border-bottom: 1px solid azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
