.add-Task-Form > label{
    display: block;
    padding-bottom: 5px;
}
.errors-handler-task{
    color: red;
    /* padding: 0 0 10px 0; */
    height: 70px;
    /* height: 80px; */
}
.add-Tasks{
    width: 300px;
    height: 300px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.957);
    border-radius: 15px;
}
.add-Task-Form {
    padding-left: 10px;
}
.add-Task-Form > button{
    border-radius: 5px;
    margin: 5px 5px 0 0;
}
.add-Task-Form > button:hover{
    background-color:dimgray;
    color:azure;
}
.add-new-Task {
    padding: 5px 10px 15px 10px;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid lightgray;
}
