.all-Tasks{
    margin-left: 200px;
    margin-top: 70px;
}
.tasks-header{
    padding: 20px 0 0 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.col-Bar{
    display: flex;
    justify-content: space-between;
}
.col-Bar > div{
    font-family:'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 30px 0px 10px 15px;
}
h3{
    margin-left:15px;
}
.my-Task-Names{
    width: 300px;
    /* padding-left: 15px;
    box-sizing: border-box; */
}

.my-Deadline{
    width: 150px;
}
.my-Projects{
    width: 150px;
}
.my-Tasks-Assigned{
    display: flex;
    justify-content: space-between;
    font-weight: 530;
    padding: 7px 0;
    margin: 0 0 0 20px;
    transition: 0,5s ease;
    transform: rotateY(360deg);
}
.my-Detail-Outer{
    width: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.my-Detail-Name{
    display: inline-block;
}
.my-Detail-Outer > i{
    margin: 2px 10px 0 0;
    cursor: pointer;
}
.my-Detail-Outer > i:hover{
    color:rgba(162, 158, 158, 0.874);
}
#recently-Assigned{
    cursor: pointer;
    padding: 3px 5px;
}
#recently-Assigned:hover{
    background-color: lightgrey;
}
.my-Detail-Deadline{
    width: 150px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.all-Tasks-Header{
    border-bottom: 1px lightgray solid;
}
.my-Detail-Project{
    width: 150px;
    font-weight:bold;
    color:crimson;
    font-family:Georgia, 'Times New Roman', Times, serif
}

#today-Assigned{
    cursor: pointer;
    padding: 3px 5px;
}
#today-Assigned:hover{
    background-color: lightgrey;
}
#this-week-Assigned{
    cursor: pointer;
    padding: 3px 5px;
}

#this-week-Assigned:hover{
    background-color: lightgrey;
}
