.edit-Task-Form{
    padding: 5px 0 5px 10px;
}
.edit-Task-Form > label{
    display: block;
    padding: 3px 10px;
}
.errors-handler-edit-task{
    color: red;
    height: 80px;
    margin: 5px 0;
}
.edit-Task-Form > button {
    margin: 10px 5px 5px 10px;
}
.edit-Task-Outer{
    height: 320px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.941);
    border-radius: 15px;
}
.edit-task-Header{
    font-size: 23px;
    padding: 15px 0 15px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(135, 133, 133);
}
